/*Обнуление*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------------*/

body {

    background: rgb(10, 31, 77);
    font-family: 'Press Start 2P', cursive;
    color: #fff;
}

.gameBlock {
    padding-top: 50px;
}

._block {
    width: 600px;
    height: 800px;
    background: url('img/bg3.gif');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px auto;
    border: 10px ridge #fff;
    overflow: hidden;
}

/*==================start block==============================*/
.start {
    /* display: none; */
}



.name {
    font-size: 50px;
    line-height: 75px;
    width: 247px;
    margin: 230px auto;
}

.start-btn {
    font-size: 26px;
    line-height: 40px;
    width: 265px;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.3s;
}

.start-btn:hover {
    transform: scale(1.2);
    transition: all 0.3s;
}


/*==================main block==============================*/
.main {
    display: none;
    position: relative;
    display: none;
}

.score {
    position: absolute;
    margin: 30px;
    left: 0;
    font-size: 23px;
    z-index: 9;
}

.health-indicator {
    width: 250px;
    height: 25px;
    border: 3px ridge #fff;
    border-radius: 5px;
    margin: 28px 10px 0px;
    overflow: hidden;
    position: absolute;
    right: 10px;
    z-index: 9;
}

.health-bar {
    height: 100%;
    width: 100%;
    background-color: #ff4037;
}

.boss-health {
    width: 250px;
    height: 25px;
    border: 3px ridge #fff;
    border-radius: 5px;
    margin: 28px 10px 0px;
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 30px;
    z-index: 9;
}

.boss-health-bar {
    height: 100%;
    width: 100%;
    background-color: #08f573;
}

/*asteroid*/
.enemy-1 {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url("./img/asteroid-icon3.png");
    animation: spin 5s linear 0s infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*UFO*/
.enemy-2 {
    width: 40px;
    height: 40px;
    background: brown;
    position: absolute;
    top: 0px;
    left: 0px;
}


.player {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 0px;
    left: calc(50% - 35px);
    color: #000;
    transition: all 0.3s;
    background-image: url("./img/space-ship-pixel.gif");
}

.boss {
    width: 245px;
    height: 100px;
    background: url('img/ufo1.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -150px;
}

.move-ufo {
    animation-name: move-boss;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0s;
}

@keyframes move-boss {
    0% {
        left: 0;
    }

    100% {
        left: 380px;
    }
}

/*==================finish block==============================*/
.finish {
    display: none;
}

.over {
    font-size: 50px;
    line-height: 75px;
    width: 450px;
    margin: 230px auto;
}